.sep  {
    text-align: center;
    margin: 20px;
    width: 250px;
   /*  border: black solid 2px; */
}

.sep h2{
    margin-top: 20px;
}
.sep .image-hover {
    display: inline-block; 
    margin: 0px auto;
   /*  border: black solid 2px; */

}

.font_icons{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.image-hover {
    margin: 10px;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 300px;
    display: inline-block;
    overflow: hidden;
   /*  background: #4ff; */
    border: 10px solid #fff;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3)
}

.image-hover img {
    width: 200px;
    height: 300px;
   /*  margin: -100px 0px 0px -100px */
}


.img-opacity img {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px
}

.img-opacity .img-1 {
    opacity:1
}

.img-opacity .img-2 {
    opacity:0;
}

.img-opacity:hover .img-1 {
    opacity: 0;
}

.img-opacity:hover .img-2 {
    opacity: 1
}

.img-opacity img {
    transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
}

.img-opacity:hover img {
    transition: all 1.2s ease-in-out;
    -webkit-transition: all 1.2s ease-in-out;
    -moz-transition: all 1.2s ease-in-out;
    -ms-transition: all 1.2s ease-in-out;
    -o-transition: all 1.2s ease-in-out;
}
.font_icons  .icon {
    transition: 0.7s;
  }
.font_icons .icon:hover{
  transform: rotateY(360deg);
}