#traffic-light {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(167, 173, 173);
    /* background-color: rgb(113, 114, 114); */
    width:120px;
    height:320px;
    border-radius:30px;
    /* box-shadow: 10px 10px 5px grey; */
}
#traffic-light div{
    margin: 0 auto;
    width:50px;
    height:50px;
    box-sizing: border-box;
    border-radius: 100%;
}
#red{
    background-color:#FF0000;
    filter: brightness(50%);
  }
#yellow{
    background-color:#FFCC01;
    filter: brightness(50%);
}
#green{
    /* background-color:#00FF00; */
    background-color:#008341;
    filter: brightness(50%);
}
#redblink{
    transform: scale(1.5);
    animation-name: blink1;
    animation-duration: 1.1s;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
#yellowblink{
    animation-name: blink2;
    animation-duration: 1.1s;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
#greenblink{
    animation-name: blink3;
    animation-duration: 1.1s;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes blink1 {
    0% {
      background-color:#FF0000;
      filter: brightness(150%);
      box-shadow: 0 0 6em #FF0000;
      transform: scale(1.5);
    }

    50% {
        background-color:#FF0000;
        filter: brightness(150%);
        box-shadow: 0 0 0em #FF0000;
        transform: scale(1);
    }
    
}
@keyframes blink2 {
    0% {
      /* background-color:#FFFF00; */
      background-color:#FFCC01;
      filter: brightness(100%);
      /* box-shadow: 0 0 6em #FFFF00; */
      box-shadow: 0 0 6em #FFCC01;
      transform: scale(1.5);

    }
    
    50% {
        /* background-color:#FFFF00; */
        background-color:#FFCC01;
        filter: brightness(100%);
        /* box-shadow: 0 0 0em #FFFF00; */
        box-shadow: 0 0 0em #FFCC01;
        transform: scale(1);

    }
    
}
@keyframes blink3 {
    0% {
      /* background-color:#00FF00; */
      background-color:#008341;
      filter: brightness(150%);
      /* box-shadow: 0 0 6em #00FF00; */
      box-shadow: 0 0 6em #008341;
      transform: scale(1.5);

    }
    
    50% {
        /* background-color:#00FF00; */
        background-color:#008341;
        filter: brightness(150%);
        /* box-shadow: 0 0 0em #00FF00; */
        box-shadow: 0 0 0em #008341;
        transform: scale(1);

    }
    
}

@media (max-width: 812px) {
    #traffic-light {
        max-width:70px;
        height: 220px;
        margin: 0 auto;
        border-radius: 20px;

    }

    #traffic-light div {
        width: 40px;
        height: 40px;

    }
}