.inputSearch {
    text-align: center;
}

.inputSearch input{
    width: 50%;
    margin: 50px;
    font-size: 1.2em;
    text-align: center;
}

.tableSearch {
    width: 100%;
}

.tableSearch table {
    /* display: block; */
    margin: 50px auto;
    width: 50%;
    font-size: 1.2em;
    border-collapse: collapse;
}

.tableSearch table thead {
    width: 100%;
    margin: 0 auto;
}

.tableSearch thead tr {
    background-color: rgb(98, 97, 97);
    color:white;
    width: 100%;
    margin: 0 auto;
}

.tableSearch tbody tr {
    color:black;
    cursor: pointer;
}

.tableSearch tbody tr:nth-child(odd) {
    background-color: rgb(223, 219, 219);
}

.tableSearch tbody tr:nth-child(even) {
    background-color: rgb(190, 190, 190);
}

.tableSearch td {
    box-sizing: border-box;
    padding: 5px;
}

.searchInfo {
    text-align: center;
}