* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    flex-direction: column;    
    height: 100%;
    justify-content: space-evenly;

}

.link {
    display: block;
    width: 80%;
    height: 30%;
    background-color: cadetblue;
    text-decoration: none;
    text-align: center;
    font-size: 2em;
    color:black;

}