* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    flex-direction: column;    
    height: 100%;
    justify-content: space-evenly;

}

.linkNavbar {
    display: flex;
    width: 80%;
    height: 30%;
    background-color: rgb(167, 173, 173);
    text-decoration: none;
    text-align: center;
    font-size: 2em;
    color:black;
    align-items:center;
    justify-content:center;
    margin: 0 auto;
    border-radius: 10px;
}

@media only screen and (max-width: 767px) {
    .navbar {
        flex-direction: row;
        width: 100%;
        height: 20%;  
    }
    .linkNavbar {
        width: 30%;
        height: auto;
        min-height: 50px;
        font-size: 1.2em;
    }
}