
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 0;
}
section .section-title {
    color: cadetblue;
    text-transform: uppercase;
}
.features{
    height: 10%;
}
.features a {
    font-family: Arial, Helvetica, sans-serif;
}
#footer h1 {
    color:#ffffff;
}
#footer  .fa{
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer  .row_links{
    padding-top: 10px;
    display: flex;
    justify-content:space-around;
}
#footer ul.social {
    display: flex;
    justify-content:space-evenly; 
}
#footer .list-unstyled{
    list-style-type: none;
}
#footer .address{
    color: #ffffff;
    height: 30%;
}
.text_addresse{
padding-top: 5px;
}
#footer ul.social li{
    padding: 3px 0;
}
#footer ul.social li i {
    margin-right: 5px;
    font-size:50px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover  i {
	font-size:75px;
	margin-top:-10px;
}
#footer ul.quick-links li {
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:20px;
	font-weight:700px;
}
#footer ul.quick-links li  i{
	margin-right: 10px;
}
#footer ul.quick-links li:hover  i {
    font-weight: 700;
}
.logo{
    width: 500px;
    height: 80px;
    overflow: hidden;
    margin: 0;
    box-sizing: border-box;
}
.logo a {
    box-sizing: border-box;
  }
.logo img {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
@media (max-width:767px){
    #footer h1 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
    }
    #footer  .row{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        box-sizing: border-box;
    }
    #footer .logo{

        order: 1;
        width: 100%;
        margin: 0 50px;
    }
    #footer .features{
        order: 2;
    }
    #footer .address{
        order: 3;
    }
}