
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
div , ul, li, img,a {
    box-sizing: border-box;
}
.footerjs{
    background-color: rgb(167, 173, 173);
    height: 100%;
}
.row_links .features,.row_links .address{
    display: flex;
}
.features a {
    font-family: Arial, Helvetica, sans-serif;
}
.footerjs h1 ,li{
    color:black;
}
.footerjs  .fa{
    color: black;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.footerjs  .row_links{
    display: flex;
    justify-content:space-around;
}
.footerjs ul.social {
    display: flex;
    justify-content:space-evenly; 
}
.footerjs .list-unstyled{
    list-style-type: none;
}
.footerjs .address{
    color: #ffffff;
}
.footerjs ul.social li i {
    font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
.footerjs ul.social li:hover  i {
	font-size:35px;
}
.footerjs ul.quick-links li {
	color:#ffffff;
}
.footerjs ul.social li a:hover{
	color:#eeeeee;
}
.footerjs ul.quick-links li{
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
.footerjs ul.quick-links li:hover{
	margin-left:20px;
	font-weight:700px;
}
.footerjs ul.quick-links li  i{
	margin-right: 10px;
}
.footerjs .logo{
    margin-top: 1%;
    width: 37%;
    height: 80px;
}
.logo img {
    width: 100%;
    height: 100%;
}
@media (max-width:767px){
    .footerjs h1 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
    }
    .footerjs  .row{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .footerjs .logo{
        order: 1;
        width: 100%;
        margin: 0 50px;
    }
    .footerjs .features{
        display: block;
        order: 2;
    }
    .footerjs .address{
        display: block;

        order: 3;
    }
}