@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

.startPage {
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

.startPageLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    height: 40%;
    width: 80%;
}

.startPageLogo img, .startPageLogo p {
    width: 80%;
    height: 80%;
}


.welcome {
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30%;
    font-weight: bold;
    text-align: center;
}

@media (max-width:767px){
    .welcome {
    font-size: 2em;
    }
}

@media (min-width:768px) and (max-width: 1050px){
    .welcome {
    font-size: 2.5em;
    }
}