.startPage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.startPageLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    max-height: 60%;
    width: 80%;
}

.startPageLogo img{
    width: 80%;
    height: 80%;
}


.welcome {
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20%;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

@media (max-width:767px){
    .welcome {
    font-size: 2em;
    }
}

@media (min-width:768px) and (max-width: 1050px){
    .welcome {
    font-size: 2.5em;
    }
}