.container {
    position: relative;
  }
  
  .container,
  #interactive.viewport {
    width: 100%;
    height: 100%;
  }
  
  #interactive.viewport canvas,
  video {
    width: 400px;
    height: 300px;
    position: absolute;
    top: 0;
    left: -400px;
  }
  
  #interactive.viewport canvas.drawingBuffer,
  video.drawingBuffer {
    width: 400px;
    height: 300px;
  } 