html body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100%;
  width: 100%;
  background-image: url(marble-top-1101122.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.mainApp {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 80%;
}
.navApp {
  box-sizing: border-box;
  width: 30%;
  padding: 10px;
  height: 100%;
  align-items: stretch;
  border: 1px solid black;


}

.changingAreaApp {
  box-sizing: border-box;
  min-width: 70%;
  border: 1px solid black;

}

.footerApp {
  box-sizing: border-box;
  border: 1px solid black;
  min-height: 20%;
}