@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

html body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
}
div{
  box-sizing: border-box;
}
#root {
  height: 100%;
  width: 100%;
  background: white;
}
.mainApp {
  display: flex;
  justify-content: space-around;
  width: 100%;
  min-height: 80%;
}
.navApp {
  width: 28%;
  align-items: stretch;
}
.changingAreaApp {
  width: 72%;
  max-width: 72%;
}
.footerApp {
  height: 20%;
  background: rgb(167, 173, 173) !important;
}
@media only screen and (max-width: 767px) {
  .mainApp {
    max-width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: none;
  }
  .changingAreaApp {
    min-height: 70%;
    height: auto;
    width: 100%;
    max-width: 100%;
  }
  .navApp {
    width: 100%;
    height: auto;
  }
  .footerApp {
    height: auto;
    width: 100%;
  }
}