html body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100%;
  width: 100%;
  background: white;
  box-sizing: border-box;

}

.mainApp {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  width: 100%;
  min-height: 80%;
}
.navApp {
  box-sizing: border-box;
  width: 28%;
  align-items: stretch;
}

.changingAreaApp {
  box-sizing: border-box;
  width: 72%;
  max-width: 72%;
}

.footerApp {
  box-sizing: border-box;
  min-height: 20%;
  background: rgb(113, 114, 114) !important;
}

@media only screen and (max-width: 767px) {
  .mainApp {
    max-width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: none;

  }
  .changingAreaApp {
    min-height: 70%;
    height: auto;
    width: 100%;
    max-width: 100%;

  }
  .navApp {
    width: 100%;
    height: auto;
  }

  .footerApp {
    height: auto;
    width: 100%;
  }

}